@import 'utils/variables.module.scss';

.item {
  display: flex;
  align-items: center;
  padding: 2px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #e8eaf6;
}

.item:not(:last-child) {
  margin-bottom: 5px;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

.Delete {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  :hover {
    transform: scale(1.1);
    fill: #ff0000aa;
  }
}
