@import 'utils/variables.module.scss';

.item {
  display: flex;
  align-items: center;
  padding: 2px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #e8eaf6;
  max-width: 768px;
  margin: 0 auto;
}

.item:not(:last-child) {
  margin-bottom: 5px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
  margin: 0 10px;
}
