@import 'utils/variables.module.scss';

.Label {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 50px;
}

.Input {
  margin-top: 25px;
  width: 100%;
  height: 40px;
  padding: 0 10px 0 10px;
  background: none;
  border-color: $accent-bg-color;
  border-radius: 5px;

  font-size: 14px;
  cursor: pointer;

  &:focus {
    outline-color: $accent-bg-color;
    &::placeholder {
      font-size: 12px;
      font-weight: 600;
      color: $main-text-color;
    }
  }

  &::placeholder {
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    color: $main-text-color;
  }
}
