$main-text-color: #2b2b2b;
$second-text-color: #757575;
$accent-text-color: #0084ff;

$main-bg-color: #ffffff;
$second-bg-color: #2b2b2b;
$accent-bg-color: #0084ff;
$backdrop-bg-color: rgba(43, 43, 43, 0.5);

$box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
  0px 1px 1px rgba(0, 0, 0, 0.12);

$transition-duration: 250ms linear;
$transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
