@import 'utils/variables.module.scss';

.Label {
  display: block;
  margin-bottom: 20px;
  color: $second-text-color;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.Input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px 5px 10px;
  width: 50%;
  background: none;
  border-color: $accent-bg-color;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;

  &:focus {
    outline-color: $accent-bg-color;
  }

  &::placeholder {
    font-size: 12px;
    color: $main-text-color;
  }
}

.Title {
  font-weight: 600;
  color: $main-text-color;
  margin-bottom: 5px;
}
.ErM {
  font-size: 12px;
  color: crimson;
}
