@import-normalize;


body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #212121;

  background-image: linear-gradient(
      rgba(255, 249, 231, 0.7),
      rgba(255, 249, 231, 0.7)
    ),
    url('./img/bg.jpg');
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.active {
  color: red;
}
