@import-normalize; /* bring in normalize.css styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-image: url('./img/bg.jpg');
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
